<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>
<body>
<%- include('partials/header') %>

<div>
    <% if(success) { %>
        <% for(var i=0; i<result.ids.length; i++) { %>
            <a href=<%= result.links[i] %>> <%= result.titles[i] %></a>
        <%} %>
    <% } else { %>
        <div><%= error %></div>
    <% } %>
</div>

</body>
</html>


    