<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>

<body>
<%- include('partials/nav') %>
<%- include('partials/header') %>

<div>
    <% if(success) { %>
        <ul>
        <% Object.keys(result).forEach(k=> { %>
            <li>
                <%= k %> : <%= result[k] %>
            </li>
        <%}) %>
        </ul>
    <% } else { %>
        <div><%= error %></div>
    <% } %>
</div>
<div>
    <button>
        <a href="/" onclick="alert('결제완료')">결제</a>
    </button>
</div>
<%- include('partials/footer') %>
</body>

</html>


    